<div class="container">
  <div class="row">
    <div class="col">
      <h1>Lista de Personas</h1>
      <button
        class="btn btn-primary"
        [disabled]="isDisabled"
        (click)="storePerson()"
      >
        Agregar persona
      </button>
      <p *ngIf="showMessage; else emptyPerson">{{ message }} con el título de {{ title }}</p>
      <ng-template #emptyPerson>
        <p>Ninguna persona agregada</p>
      </ng-template>
      <app-person></app-person>
      <label>Título de la Persona</label>
      <input type="text" class="form-control" [(ngModel)]="title" />
      {{ title }}
    </div>
  </div>
</div>
